<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#creating a function
def Rakshitha():
  print("Hello from Rakshitha")
Rakshitha()

Hello from Rakshitha

In [28]:
#Arguments
def Rakshitha(x):
  print(x+"Hello from Rakshitha")
Rakshitha("Bhanu, ")
Rakshitha("Dhanush, ")
Rakshitha("Bhavana, ")

Bhanu, Hello from Rakshitha
Dhanush, Hello from Rakshitha
Bhavana, Hello from Rakshitha

In [25]:
#number of argumemnts
def Rakshitha(x,y,z):
  print( x + " " + y + " " + z)
Rakshitha("Bhavana","Indhukuri","is no 1 bullshit gal")

Bhavana Indhukuri is no 1 bullshit gal

In [27]:
#keyword arguments
def Rakshitha(n,a,g):
  print("Name : "+"Rakshitha")
  print("Age : "+"19")
  print("Gender : "+"Female")
Rakshitha("name","age","gender")

Name : Rakshitha
Age : 19
Gender : Female

In [6]:
#arbitary arguments,*args
def Rakshitha(*x):
  print("The good girl is "+x[2])
Rakshitha("Dharani","Bhavana","Rakshitha")

The good girl is Rakshitha

In [5]:
#arbitary keywords
def Rakshitha(**kid):
  print("Her first name is "+ kid["fname"])
  print("Her last name is "+ kid["lname"])
Rakshitha(fname="Rakshitha",lname="uppu")

Her first name is Rakshitha
Her last name is uppu

In [4]:
#default parameter value
def Rakshitha(name="Rakshitha "):
  print(name + "is from India")
Rakshitha("Bhanu ")
Rakshitha("Dhanush ")
Rakshitha()
Rakshitha("Bhavana ")

Bhanu is from India
Dhanush is from India
Rakshitha is from India
Bhavana is from India

In [3]:
#passing a list as an argument
def Rakshitha(fruits):
  for x in fruits:
   print(x)
fruits=["goa","pineapple","papaya"]
Rakshitha(fruits)

goa
pineapple
papaya

In [2]:
#return values
def Rakshitha(x):
  return 5*x
print(Rakshitha(4))
print(Rakshitha(9))
print(Rakshitha(8))

20
45
40

In [22]:
def Rakshitha(k):
  if(k>0):
    result = k + Rakshitha(k-1)
    print(result)
  else:
    result=0
  return result
print("\n\nRecursion example results")
Rakshitha(5)

Recursion example results
1
3
6
10
15

15