<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PRINTING LISTS

In [1]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)

['apple', 'mango', 'pineapple', 'goa']

ACCESSING LIST

In [6]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)

#PRINT THE FIRST ITEM OF THE LIST
print(fruit[0])

#NEGATIVE INDEXING
print(fruit[-1])

#RANGE OF INDEXES
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:3])
print(fruit[1:])
print(fruit[3:])

['apple', 'mango', 'pineapple', 'goa']
apple
goa
['apple', 'mango']
['apple', 'mango']
['mango', 'pineapple']
['mango', 'pineapple', 'goa']
['goa']

CHANGING LIST ITEMS

In [9]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)
fruit[1:3]=["watermelon"]
print(fruit)
fruit[2:3]=["orange","kiwi"]
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'watermelon', 'goa']
['apple', 'watermelon', 'orange', 'kiwi']

EXTENDING THE ITEMS

In [10]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)
fruit[2:3]="papaya"
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'mango', 'p', 'a', 'p', 'a', 'y', 'a', 'goa']

ADDING LIST ITEMS

In [15]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)

#APPEND
fruit.append("banana")
print(fruit)

#INSERTING
fruit.insert(4,"orange")
print(fruit)
fruit.insert(1,"kiwi")
print(fruit)

#EXTENDING LIST
extra=("watermelon","papaya")
fruit.extend(extra)
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'mango', 'pineapple', 'goa', 'banana']
['apple', 'mango', 'pineapple', 'goa', 'orange', 'banana']
['apple', 'kiwi', 'mango', 'pineapple', 'goa', 'orange', 'banana']
['apple', 'kiwi', 'mango', 'pineapple', 'goa', 'orange', 'banana', 'watermelon', 'papaya']

REMOVING LIST ITEMS

In [19]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)

#REMOVING LIST ITEM
fruit.remove("pineapple")
print(fruit)

#POP AND REMOVE ARE SAME
fruit.pop(1)
print(fruit)

#DELETE
del fruit[0]
print(fruit)

#CLEARING THE LIST
fruit.clear()
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'mango', 'goa']
['apple', 'goa']
['goa']
[]

LOOP LISTS

In [21]:
fruit=["sowmya","anushya","bhavana"]
print(fruit)

#FOR LOOP
for x in fruit:
  print(x)

#RANGE
for i in range(len(fruit)):
  print(fruit[1])

#WHILE LOOP
i=0
while i < len(fruit):
  print(fruit[i])
  i=i+1

#FOR LOOP
[print(x) for x in fruit]

['sowmya', 'anushya', 'bhavana']
sowmya
anushya
bhavana
anushya
anushya
anushya
sowmya
anushya
bhavana
sowmya
anushya
bhavana

[None, None, None]

LIST OF COMPREHENSION

In [39]:
fruit=["sowmya","anushya","bhavana"]
monkeys=[x for x in fruit if "y" in x]
print(monkeys)

monkeys=[x for x in fruit if x != "sowmya"]
print(monkeys)

monkeys=[x for x in fruit]
print(monkeys)

monkeys=[x for x in range(11)]
print(monkeys)

monkeys=[x for x in range(9) if x<5]
print(monkeys)

monkeys=[x.upper()for x in fruit]
print(monkeys)

monkeys=['hello' for x in fruit]
print(monkeys)

monkeys=[x if x !="sowmya" else "akhila" for x in fruit]
print(monkeys)

['sowmya', 'anushya']
['anushya', 'bhavana']
['sowmya', 'anushya', 'bhavana']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]
['SOWMYA', 'ANUSHYA', 'BHAVANA']
['hello', 'hello', 'hello']
['akhila', 'anushya', 'bhavana']