<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PRINTING LISTS
fruit=["apple","mango","pineapple","goa"]
print(fruit)
#ACCESSING LIST
print(fruit[0])
print(fruit[-1])
print(fruit[0:2])
print(fruit[:2])
print(fruit[1:2])
print(fruit[1:])
print(fruit[3:])

['apple', 'mango', 'pineapple', 'goa']
apple
goa
['apple', 'mango']
['apple', 'mango']
[]
['mango', 'pineapple', 'goa']
['goa']

In [ ]:
#CHANGING LIST ITEMS
fruit=["apple","mango","pineapple","goa"]
print(fruit)
fruit[1:3]=["watermelon"]
print(fruit)
fruit[2:3]=["orange","kiwi"]
print(fruit)
#EXTENDING THE LIST
fruit[2:4]="papaya"
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'watermelon', 'goa']
['apple', 'watermelon', 'orange', 'kiwi']
['apple', 'watermelon', 'p', 'a', 'p', 'a', 'y', 'a']

Append

In [ ]:
fruit=["apple","mango","pineapple","goa"]
print(fruit)
#APPEND
fruit.append("banana")
print(fruit)
#INSERTING
fruit.insert(4,"orange")
print(fruit)
fruit.insert(1,"kiwi")
print(fruit)
#REMOVE
fruit.remove("pineapple")
print(fruit)

['apple', 'mango', 'pineapple', 'goa']
['apple', 'mango', 'pineapple', 'goa', 'banana']
['apple', 'mango', 'pineapple', 'goa', 'orange', 'banana']
['apple', 'kiwi', 'mango', 'pineapple', 'goa', 'orange', 'banana']
['apple', 'kiwi', 'mango', 'goa', 'orange', 'banana']

In [ ]:
numbers=["1","2","3","4","5","6"]
print(numbers)
#POP AND REMOVE ARE SAME
numbers.pop(1)
print(numbers)
#DELETE
del numbers[0]
print(numbers)
#CLEARING THE LIST
numbers.clear()
print(numbers)

['1', '2', '3', '4', '5', '6']
['1', '3', '4', '5', '6']
['3', '4', '5', '6']
[]

In [29]:
fruit=["sowmya","anushya","bhavana"]
#FOR LOOP
for x in fruit:
  print(x)

#RANGE
for i in range(len(fruit)):
  print(fruit[1])

#WHILE LOOP
i=0
while i < len(fruit):
  print(fruit[i])
  i=i+1

#FOR LOOP
[print(x) for x in fruit]

sowmya
anushya
bhavana
anushya
anushya
anushya
sowmya
anushya
bhavana
sowmya
anushya
bhavana

[None, None, None]

In [31]:
fruit=["sowmya","anushya","bhavana"]
monkeys=[x for x in fruit if "a" in x]
print(monkeys)

['sowmya', 'anushya', 'bhavana']