<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a function which accepts two inputs from the user and compute nCr 
def nCr(d,o):
  return(fact(d)/(fact(o)
                *fact(d-o)))
d=int(input(""))
o=int(input(""))
def fact(d):
  res=1
  for i in range(2,d+1):
      res =res*i
  return res
print(int(nCr(d,o)))

5
2
10

In [4]:
#Program to print a specified list after removing the 0th, 4th and 5th elements 
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black']
Rakshi=['Red','Green','White','Black','Pink','Yellow']
Rakshi=[r for (g,r) in enumerate (Rakshi) if g not in (0,4,5)]
print(Rakshi)

['Green', 'White', 'Black']

In [6]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed
Rakshitha=[(4,5),(4, ),(8,6,7),(1, ),(3,4,6,7)]
print("Original list:"+str(Rakshitha))
k = int(input("Enter the length of tuples you want to eliminate: "))
fin=[]
for i in range (0,len(Rakshitha)):
  if len(Rakshitha[i]) !=k:
    fin.append(Rakshitha[i])

print("Filtered list: "+str(fin))

Original list:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Enter the length of tuples you want to eliminate: 2
Filtered list: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [7]:
#Program to get the difference between the two lists.
R=[78,34,24,97,56,45]
D=[67,90,46,62,84,23]
diff_R_D=list(set(R)-set(D))
diff_D_R=list(set(D)-set(R))
total_difference=diff_R_D+diff_D_R
print(total_difference)

[97, 34, 45, 78, 24, 56, 67, 46, 84, 23, 90, 62]

In [10]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the number.
rakshitha=[45,95,86,46,75]
print("The list is: ")
print(rakshitha)
print("The resultant tuple is: ")
rakshitha=[(val, pow(val, 2)) for val in rakshitha]
print(rakshitha)

The list is:
[45, 95, 86, 46, 75]
The resultant tuple is:
[(45, 2025), (95, 9025), (86, 7396), (46, 2116), (75, 5625)]

In [12]:
#Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
r=int(input("enter a number: "))
d=dict()

for x in range(1,r+1):
  d[x]=x*x
print(d)

enter a number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [13]:
#Program to remove a key from a dictionary
rakshitha={'a':9,'b':6,'c':7,'d':3}
print(rakshitha)
if 'a' in rakshitha:
  del rakshitha['a']
print(rakshitha)

{'a': 9, 'b': 6, 'c': 7, 'd': 3}
{'b': 6, 'c': 7, 'd': 3}