<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a function which accepts two inputs from the user and compute nCr 
def nCr(d,o):
  return(fact(d)/(fact(o)
                *fact(d-o)))
d=int(input(""))
o=int(input(""))
def fact(d):
  res=1
  for i in range(2,d+1):
      res =res*i
  return res
print(int(nCr(d,o)))

5
2
10

In [ ]:
#Program to print a specified list after removing the 0th, 4th and 5th elements 
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black']
Rakshi=['Red','Green','White','Black','Pink','Yellow']
Rakshi=[r for (g,r) in enumerate (Rakshi) if g not in (0,4,5)]
print(Rakshi)

['Green', 'White', 'Black']

In [ ]:
#x Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed
Rakshitha=[(4,5),(4, ),(8,6,7),(1, ),(3,4,6,7)]
print("Original list:"+str(Rakshitha))
k = int(input("Enter the length of tuples you want to eliminate: "))
fin=[]
for i in range (0,len(Rakshitha)):
  if len(Rakshitha[i]) !=k:
    fin.append(Rakshitha[i])

print("Filtered list: "+str(fin))

Original list:[(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Enter the length of tuples you want to eliminate: 2
Filtered list: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
#Program to get the difference between the two lists.
R=[78,34,24,97,56,45]
D=[67,90,46,62,84,23]
diff_R_D=list(set(R)-set(D))
diff_D_R=list(set(D)-set(R))
total_difference=diff_R_D+diff_D_R
print(total_difference)

[97, 34, 45, 78, 24, 56, 67, 46, 84, 23, 90, 62]

In [ ]:
#Given a list of numbers of list, write a Python program to create a list of tuples
#having first element as the number and second element as the square of the number.
rakshitha=[45,95,86,46,75]
print("The list is: ")
print(rakshitha)
print("The resultant tuple is: ")
rakshitha=[(val, pow(val, 2)) for val in rakshitha]
print(rakshitha)

The list is:
[45, 95, 86, 46, 75]
The resultant tuple is:
[(45, 2025), (95, 9025), (86, 7396), (46, 2116), (75, 5625)]

In [ ]:
#Program to remove a key from a dictionary
rakshitha={'a':9,'b':6,'c':7,'d':3}
print(rakshitha)
if 'a' in rakshitha:
  del rakshitha['a']
print(rakshitha)

{'a': 9, 'b': 6, 'c': 7, 'd': 3}
{'b': 6, 'c': 7, 'd': 3}

In [1]:
#Program to find the second smallest number and second largest number in a list
rakshitha=[8,5,7,2,3,96,937,235,24]
rakshitha.sort()
print(rakshitha)
print("The second smallest number in the  list: ",rakshitha[1])
print("The second largest number in the  list: ",rakshitha[len(rakshitha)-2])

[2, 3, 5, 7, 8, 24, 96, 235, 937]
The second smallest number in the  list:  3
The second largest number in the  list:  235

In [3]:
#Given a list of numbers of list, write a Python program to create a list of tuples having first element as
#the number and second element as the square of the number
rakshitha=[6,3,9,7,2]
new_list=[]
for i in rakshitha:
 y=(i,i**2)
 new_list.append(y)
print("The required list is:",new_list)

The required list is: [(6, 36), (3, 9), (9, 81), (7, 49), (2, 4)]

In [5]:
#Program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
rakshitha=dict()
x=int(input("Enter a number: "))
for i in range(1,x+1):
 rakshitha.update({i:i**2})
print("The required dictionary is:",rakshitha)

Enter a number: 3
The required dictionary is: {1: 1, 2: 4, 3: 9}

In [6]:
#Program to get the maximum and minimum value in a dictionary.
rakshitha={'a':78, 'b':93, 'c':56, 'd':23}
maxvalue=max(rakshitha, key=rakshitha.get)
minvalue=min(rakshitha, key=rakshitha.get)
print("The maximum value in the given dictionary has a key: '"+maxvalue+"' and its value is:",rakshitha[maxvalue])
print("The minimum value in the given dictionary has a key: '"+minvalue+"' and its value is:",rakshitha[minvalue])

The maximum value in the given dictionary has a key: 'b' and its value is: 93
The minimum value in the given dictionary has a key: 'd' and its value is: 23

In [7]:
#Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations
rakshitha=input("enter a string: ")
print(rakshitha.split())
print(rakshitha[3:12])

enter a string: rakshitha is a very kind hearted girl, so she has many friends!!
['rakshitha', 'is', 'a', 'very', 'kind', 'hearted', 'girl,', 'so', 'she', 'has', 'many', 'friends!!']
shitha is

In [12]:
#Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.
rakshitha="beetroot"
print(rakshitha.count('b'))
bhavana="i went to the market this evening and bought some fresh fruits."
print(bhavana.count('to'))

1
1

In [14]:
#Program for replacing one substring by another For example - Rabbit -Replace 'bb' by 'cc'
rakshitha='apple'
bhavana=rakshitha.replace('pp','bb')
print(bhavana)

abble

In [18]:
#Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.
rakshitha="I Love My Mom and Dad Equally and Obviously Respect Them."
count1=0
count2=0
for i in rakshitha:
 if i.isupper():
  count1+=1
 elif i.islower():
   count2+=1
 else:
  pass
print("No.of uppercases are: ",count1)
print("No.of lowercases are: ",count2)

No.of uppercases are:  9
No.of lowercases are:  37

In [21]:
#Program to Acronym generator for any user input
rakshitha=input("enter any string:")
a=rakshitha.split()
for i in a:
 print(i[0],end='')

enter any string:Gandhi Institute Technology And Management
GITAM

In [23]:
# Program to count the number of strings where the string length is 2 or more and the first and last character are same
#from a given list of strings , Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2
rakshitha = ['hbjh', ',nmlihj', 'kniwue', '723476','nkjdsj','092','jnd','kejhsduyjegh']
count=0
for i in rakshitha:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
     print(i)
 count+=1
print(count)

hbjh
8