<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string
a="string"
print(a)
print(type(a))
print(a[2])

string
<class 'str'>
r

In [ ]:
#length
a="hello string"
print(len(a))
b="string"
print(len(b))
c="rakshitha is a good girl"
print("bad" in c)

#not in
print("bad" not in c)

#slicing
print(a[2:5])

12
6
False
True
llo

MODIFY STRINGS

In [24]:
#UPPER CASE
a="RRR movie is fantastic"
print(a.upper())

#LOWER CASE
a="RRR movie is fantastic"
print(a.lower())

#STRIP CASE
a=    "            RRR movie is fantastic"
print(a.strip())

#REPLACE CASE
a="RRR movie is fantastic"
print(a.replace("RRR","radhe shyam"))
print(a.replace("i","e"))

#SPLIT CASE
a="RRR movie is fantastic"
print(a.split())

b="RRR,movie is fantastic"
print(b.split(','))

RRR MOVIE IS FANTASTIC
rrr movie is fantastic
RRR movie is fantastic
radhe shyam movie is fantastic
RRR movee es fantastec
['RRR', 'movie', 'is', 'fantastic']
['RRR', 'movie is fantastic']

CONCATENATE STRINGS

In [32]:
a="my friends "
b="are crazy monkeys"
c=a+b
print(c)
print(a+""+b)

my friends are crazy monkeys
my friends are crazy monkeys

FORMAT STRINGS

In [43]:
a=123
b="hello{}"
print(b.format(a,b))

price=100
quantity=3
name="thumpsup"
myorder="i bought {} {} of price {}"
print(myorder.format(quantity,name,price))

name="rakshitha"
quantity=5
quality="good"
sentence="{} has {} number of {} friends"
print(sentence.format(name,quantity,quality))


sub1=int(input("enter cse marks:"))
sub2=int(input("enter chem marks:"))
sub3=int(input("enter eng marks:"))
sub4=int(input("enter maths marks:"))
marks="my cse marks are {} ,chem marks are {} ,eng marks are {} ,maths marks are {}"
print(marks.format(sub1,sub2,sub3,sub4))

hello123
i bought 3 thumpsup of price 100
rakshitha has 5 number of good friends
enter cse marks:23
enter chem marks:19
enter eng marks:26
enter maths marks:20
my cse marks are 23 ,chem marks are 19 ,eng marks are 26 ,maths marks are 20

ESCAPE STRINGS

In [70]:
#CHARACTERS
a="hello rakshitha \"hiii\""
print(a)

b="hello \nbharat"
print(b)

c="hello \tbharat"
print(c)

d="hello\bbharat"
print(d)

e="hello \fbharat"
print(e)

f="\110\145\154\154\157"
print(f)

hello rakshitha "hiii"
hello
bharat
hello 	bharat
hellobharat
hello bharat
Hello

STRING METHODS

In [79]:
a="Rakshitha"
b=a.capitalize()
print(b)

c=a.casefold()
print(c)

d=a.center(45)
print(d)

a="hello world welcome to my world"
b=a.count("")
print(b)
print(len(a))

Rakshitha
rakshitha
                  Rakshitha
32
31