<a href="https://colab.research.google.com/github/Rakshithauppu/python-programs/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON TUPLE

In [19]:
friends=("sailu","dharani","gautham","akshaya","gautham")
print(friends)
print(len(friends))
print(type(friends))

#not a tuple
buddie=("sailu")
print(type(buddie))

#tuple data types
tuple1=("apple","banana","orange")
tuple2=("1","2","3","4")
tuple3=("true","false","true")
print(tuple1)
print(tuple2)
print(tuple3)

#tuple type
tuple4=("age",19,"female",True)
print(tuple4)
friends=tuple(("sailu","dharani","gautham","akshaya","gautham"))
print(friends)

('sailu', 'dharani', 'gautham', 'akshaya', 'gautham')
5
<class 'tuple'>
<class 'str'>
('apple', 'banana', 'orange')
('1', '2', '3', '4')
('true', 'false', 'true')
('age', 19, 'female', True)
('sailu', 'dharani', 'gautham', 'akshaya', 'gautham')

ACCESS TUPLE ITEMS

In [39]:
friends=("sailu","dharani","gautham","akshaya","anushya")
print(friends[3])
print(friends[-3])
print(friends[2:5])
print(friends[:4])
print(friends[2:])
print(friends[-5:-2])

#checking the item
friends=("sailu","dharani","gautham","akshaya","anushya")
if "dharani" in friends:
 print("yes,'dharani' is in friends tuple")

akshaya
gautham
('gautham', 'akshaya', 'anushya')
('sailu', 'dharani', 'gautham', 'akshaya')
('gautham', 'akshaya', 'anushya')
('sailu', 'dharani', 'gautham')
yes,'dharani' is in friends tuple

UPDATE TUPLES

In [49]:
x=("rakshitha","geetha","sailaja","govind")
y=list(x)
y[1]="govind"
x=tuple(y)
print(x)

#adding items
x=("rakshitha","geetha","sailaja","govind")
y=list(x)
y.append("deepthi")
x=tuple(y)
print(x)

#tuple to a tuple
x=("rakshitha","geetha","sailaja","govind")
y=("kavya",)
x += y
print(x)

#removing items
x=("rakshitha","geetha","sailaja","govind","deepthi")
y=list(x)
y.remove("deepthi")
y.pop(1)
x=tuple(y)
print(x)

#deleting tuple
del x

('rakshitha', 'govind', 'sailaja', 'govind')
('rakshitha', 'geetha', 'sailaja', 'govind', 'deepthi')
('rakshitha', 'geetha', 'sailaja', 'govind', 'kavya')
('rakshitha', 'sailaja', 'govind')

UNPACK TUPLE

In [60]:
x=("rakshitha","geetha","sailaja","govind")
(green,orange,*black)=x
print(green)
print(orange)
print(black)

#using asterisk
(a,*b,c)=x
print(a)
print(b)
print(c)

rakshitha
geetha
['sailaja', 'govind']
rakshitha
['geetha', 'sailaja']
govind

LOOP TUPLE

In [65]:
#for loop
friends=("rakshitha","geetha","sailaja","govind")
for x in friends:
  print(x)

for i in range(len(friends)):
  print(friends[i])

#while loop
x=("rakshitha","geetha","sailaja","govind")
i=0
while i < len(x):
  print(x[i])
  i=i+1

rakshitha
geetha
sailaja
govind
rakshitha
geetha
sailaja
govind
rakshitha
geetha
sailaja
govind

JOIN TUPLE

In [75]:
x=("rakshitha","geetha","sailaja","govind")
y=("sailu","dharani","gautham","akshaya","anushya")

#adding tuple
tuple1=x+y
print(tuple1)

#multiply tuple
tuple2=y*3
print(tuple2)

('rakshitha', 'geetha', 'sailaja', 'govind', 'sailu', 'dharani', 'gautham', 'akshaya', 'anushya')
('sailu', 'dharani', 'gautham', 'akshaya', 'anushya', 'sailu', 'dharani', 'gautham', 'akshaya', 'anushya', 'sailu', 'dharani', 'gautham', 'akshaya', 'anushya')